.container {
  display: flex;
  gap: 15px;
  padding: 0 10px;
}

.mainNews {
  grid-area: mainNews;
  padding: 0 5px;
  width: 70%;
}

.rightBar {
  height: 100%;
  padding: 0 10px;
  position: fixed;
  right: 10px;
  width: 30%;
}

.personalNews {
  height: 60%;
  grid-area: personalNews;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px 10px;
  border: 0.5px solid rgba(var(--b6a, 219, 219, 219), 1);
}

.informations {
  grid-area: informations;
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
}

.informations img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.informations h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.informations h3 {
  font-size: 0.9rem;
  font-weight: 500;
}

.informations p {
  font-size: 0.9rem;
  font-weight: 400;
}

@media (max-width: 900px) {
  .container {
    display: flex;
  }

  .rightBar {
    display: none;
  }

  .mainNews {
    width: 100%;
  }
}
